{% extends "admin/admin_base.html" %}

{% block title %}
Admin
{% endblock title%}

{% block css %}
<script src="/js/echarts.min.js"></script>
{% endblock css%}

{% block body %}
<div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
    <div id="month" style="width: 100%;height:400px;margin-top: 100px;"></div>
    <div id="tags" style="width: 100%;height:400px;margin-top: 100px;"></div>
</div>
{% endblock body%}

{% block script %}
<script src="/js/admin/my_echart.js"></script>

{% endblock script%}
