{% extends "admin/admin_base.html" %}

{% block title %}
Admin
{% endblock title%}

{% block css %}
<script src="/js/echarts.min.js"></script>
{% endblock css%}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-11 col-12">
            <div id="month" style="width: 100%;height:400px;margin-top: 100px;"></div>
            <div id="tags" style="width: 100%;height:400px;margin-top: 100px;"></div>
        </div>
    </div>
</div>
{% endblock body%}

{% block script %}
<script src="/js/admin/my_echart.js"></script>

{% endblock script%}
