{% extends "admin/editor_base.html" %}

{% block title %}
修改文章
{% endblock title %}

{% block id %}
<div id="id" article-id={{ id }}></div>
{% endblock id %}

{% block script %}
<script>
    $("#submit").click(function (event) {
        event.preventDefault();
        var title = $("#title").val();
        var content = $("#editor").val();
        var id = parseInt($("#id").attr("article-id"));
        if (title === "" || content === "") {
            $("#mistake").modal("show")
        } else {
            $.ajax({
                url: "/api/v1/article/edit",
                type: "post",
                dataType: "json",
                data: JSON.stringify({ "id": id,"title": title, "raw_content": content }),
                headers: {"Content-Type": "application/json"},
                success: function (res) {
                    if (res.status) {
                        $("#success").modal("show")
                    }
                }
            })
        }
    });
    $(function () {
        var id = $("#id").attr("article-id");
        $.getJSON("/api/v1//article/admin/view_raw?id=" + id, function (result) {
            $("#title").val(result.data.title);
            $("#editor").val(result.data.content)
        });
    })
</script>
{% endblock script %}
