<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="blog, 个人博客"/>
    <meta name="Description" content="个人博客"/>
    <meta name="author" content="driftluo"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <link rel="icon" type="image/jpg" href="/images/head.jpg"/>
    <title>编辑器</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/marked.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/monokai_default.css">
</head>
<body>
<div class="col-md-8 col-md-offset-2">
    <h3>Title: </h3><input type="text" class="form-control" placeholder="标题">
    <div style="margin-top: 20px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" id="editor_note" ><a href="#" onclick="editorPage()" >Editor</a></li>
            <li role="presentation" id="preview_note"><a href="#" onclick="previewPage()">Preview</a></li>
        </ul>
    </div>
    <div id="editor_page" style="display: block">
        <textarea id="editor" class="form-control" rows="20"></textarea>
    </div>
    <div style="display: none" id="preview_page">

    </div>
</div>


    <script>
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false,
            highlight: function (code) {
                return hljs.highlightAuto(code).value;
            }
        });

//        $("#md_editor").keyup(function () {
//            $("#preview").html(marked(acen_edit.getValue()));
//        });
//        $("#md_editor").ready(function () {
//            $("#preview").html(marked(acen_edit.getValue()));
//        });
        function editorPage() {
            $("#preview_page").css("display", "none");
            $("#preview_note").removeClass("active");
            $("#editor_page").css("display", "block");
            $("#editor_note").addClass("active");
        }

        function previewPage() {
            $("#editor_page").css("display", "none");
            $("#editor_note").removeClass("active");
            $("#preview_page").css("display", "block");
            $("#preview_note").addClass("active");
            var html = marked($("#editor").val());
            $("#preview_page").html(html)
        }
    </script>
</body>
</html>