<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="blog, 个人博客" />
    <meta name="Description" content="个人博客" />
    <meta name="author" content="driftluo" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="icon" type="image/webp" href="/images/head.webp" />
    <title>{% block title %}{% endblock title %}</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/monokai.min.css">
    <link rel="stylesheet" href="/css/editor_base.css">
</head>

<body>
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg" style="margin-top:32px; margin-bottom:32px;">
                <div class="card-body">
                    <h3 class="card-title">文章编辑</h3>
                    <div class="form-group">
                        <label for="title">标题</label>
                        {% if id %}
                        <input id="title" type="text" class="form-control input-lg" placeholder="请输入标题" article-id="{{ id }}">
                        {% else %}
                        <input id="title" type="text" class="form-control input-lg" placeholder="请输入标题">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>标签</label>
                        <ul class="tag list-inline" style="margin-bottom:8px;">
                            {% if tags %}
                            {% for tag in tags %}
                            <li class="list-inline-item">
                                <a data-id="{{ tag.id }}">{{ tag.tag }}</a>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                        <button id="upload_btn" type="button" class="btn btn-sm btn-success" style="margin-top:8px;">
                            <i class="bi bi-upload"></i> 上传附件
                        </button>
                        <button id="tag_btn" class="btn btn-sm btn-info" style="margin-top:8px; margin-left:8px;">
                            <i class="bi bi-plus"></i> 添加标签
                        </button>
                    </div>
                    <ul class="nav nav-tabs" style="margin-top:20px;">
                        <li role="presentation" class="nav-item" id="editor_note"><a class="nav-link active" onclick="editorPage()">编辑器</a></li>
                        <li role="presentation" class="nav-item" id="preview_note"><a class="nav-link" onclick="previewPage()">预览</a></li>
                    </ul>
                    <div id="editor_page" style="display: block; margin-top:16px;">
                        <textarea id="editor" class="form-control" rows="16" style="border-radius:8px; border:2px solid #e3e3e3;"></textarea>
                    </div>
                    <div style="display: none; margin-top:16px;" id="preview_page">
                    </div>
                    <div class="text-center" style="margin-top:24px;">
                        <button id="quit" type="button" class="btn btn-danger" style="margin-right:16px;">
                            <i class="bi bi-trash"></i> 放弃
                        </button>
                        <button id='submit' type="button" class="btn btn-success">
                            <i class="bi bi-box-arrow-up"></i> 提交
                        </button>
                    </div>
                </div>
            </div>
    </div>
        <div id="mistake" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-danger">
                    <div class="modal-header bg-danger text-white">
                        <h4 class="modal-title">错误</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>标题或内容为空</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="success" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-success">
                    <div class="modal-header bg-success text-white">
                        <h4 class="modal-title">成功</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>提交成功</p>
                    </div>
                    <div class="modal-footer">
                        <button id="success_btn" type="button" class="btn btn-success" data-bs-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    <div id="upload-success" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">提示</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>提交成功</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger modal-upload" data-bs-dismiss="modal">Upload</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="upload_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">提示</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br /><br />
                    <input type="file" id="file" name="files" multiple class="btn btn-secondary" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger modal-upload" data-bs-dismiss="modal">Upload</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="tag" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新标签</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="tag-name" class="form-label">名称:</label>
                            <input type="text" class="form-control" id="tag-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button id="add_tag" type="button" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="container col-sm-12 col-md-12 col-xs-12">
        <hr>
        <div class="text-center">
            <a href="https://github.com/driftluo">
                <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1"
                    viewBox="0 0 16 16" width="32">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
        </div>
        <p class="text-center">Copyright © Luo Chao 2017-</p>
    </footer>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/rust.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/c.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/cpp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/bash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/dockerfile.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin/editor_base.js"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>
