<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="blog, 个人博客"/>
    <meta name="Description" content="个人博客"/>
    <meta name="author" content="driftluo"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <link rel="icon" type="image/jpg" href="/images/head.jpg"/>
    <title>{% block title %}{% endblock title %}</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/marked.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/monokai_default.css">
    <style>
        a:hover { text-decoration: none; cursor:pointer; }
        ul.tag {
            overflow: hidden;
        }
        ul.tag li {
            float: left;
            margin: 20px 15px 10px 0px;
            line-height: 20px;
            display: list-item;
            text-align: -webkit-match-parent;
            list-style: none;
        }
        ul.tag li a {
            padding: 5px 10px;
            border: 1px solid #d9d9d9;
            border-radius: 14px;
            box-sizing: border-box;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.5;
            text-decoration: none;
        }
        .a_click {
            background-color: #e78170;
            color: #fff;
            border: 0px;
        }
         pre {
             padding: 0px;
         }
    </style>
</head>
<body>
<div class="col-md-8 col-md-offset-2">
    {% if id %}
        <h3>Title: </h3><input id="title" type="text" class="form-control" placeholder="标题" article-id={{ id }}>
    {% else %}
        <h3>Title: </h3><input id="title" type="text" class="form-control" placeholder="标题">
    {% endif %}
    <div>
        <ul class="tag">
            {% if tags %}
                {% for tag in tags %}
                <li ><a data-id={{ tag.id }}>{{ tag.tag }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
        <button id="tag_btn" class="btn btn-sm btn-info pull-right">添加标签</button>
    </div>
    <div style="margin-top: 20px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" id="editor_note" ><a onclick="editorPage()" >Editor</a></li>
            <li role="presentation" id="preview_note"><a onclick="previewPage()">Preview</a></li>
        </ul>
    </div>
    <div id="editor_page" style="display: block">
        <textarea id="editor" class="form-control" rows="20"></textarea>
    </div>
    <div style="display: none" id="preview_page">

    </div>

    <div>
        <button id="quit" type="button" class="btn btn-danger" style="margin-top: 15px;">
        <span class="glyphicon glyphicon-trash"></span>
        放弃
        </button>

        <button id='submit' type="button" class="btn btn-success pull-right" style="margin-top: 15px;">
            <span class="glyphicon glyphicon-open"></span>
            提交
        </button>
    </div>
</div>
<div id="mistake" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">错误</h4>
            </div>
            <div class="modal-body">
                <p>标题或内容为空</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">成功</h4>
            </div>
            <div class="modal-body">
                <p>提交成功</p>
            </div>
            <div class="modal-footer">
                <button id="success_btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="tag" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新标签</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="tag-name" class="control-label">名称:</label>
                        <input type="text" class="form-control" id="tag-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="add_tag" type="button" class="btn btn-primary">增加</button>
            </div>
        </div>
    </div>
</div>
<footer class="container col-sm-12 col-md-12 col-xs-12">
    <hr>
    <div class="text-center">
        <a href="https://github.com/driftluo">
            <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1" viewBox="0 0 16 16"
                 width="32">
                <path fill-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                </path>
            </svg>
        </a>
    </div>
    <p class="text-center">Copyright © Luo Chao 2017-</p>
</footer>

    <script>
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false,
            highlight: function (code) {
                return hljs.highlightAuto(code).value;
            }
        });

        function editorPage() {
            $("#preview_page").css("display", "none");
            $("#preview_note").removeClass("active");
            $("#editor_page").css("display", "block");
            $("#editor_note").addClass("active");
        }

        function previewPage() {
            $("#editor_page").css("display", "none");
            $("#editor_note").removeClass("active");
            $("#preview_page").css("display", "block");
            $("#preview_note").addClass("active");
            var html = marked($("#editor").val());
            $("#preview_page").html(html);
            $("pre code").addClass("hljs")
        }
        $("textarea").on(
            'keydown',
            function(e) {
                if (e.keyCode === 9) {
                    e.preventDefault();
                    var indent = '    ';
                    var start = this.selectionStart;
                    var end = this.selectionEnd;
                    var selected = window.getSelection().toString();
                    selected = indent + selected.replace(/\n/g, '\n' + indent);
                    this.value = this.value.substring(0, start) + selected
                        + this.value.substring(end);
                    this.setSelectionRange(start + indent.length, start
                        + selected.length);
                }
            });

        $("#quit").click(function (event) {
            event.preventDefault();
            window.location = "/admin/list"
        });
        $("#success_btn").click(function (event) {
            event.preventDefault();
            window.location = "/admin/list"
        });

        $("ul.tag").on("click","li", function(){
            if ($(this).children().hasClass("a_click")) {
                $(this).children().removeClass("a_click")
            } else {
                $(this).children().addClass("a_click")
            }
        });
        $("#tag_btn").on("click", function () {
            $("#tag-name").val("");
            $("#tag").modal("show")
        });
        $("#add_tag").click(function () {
            var tag_name = $("#tag-name").val().replace(/(^\s*)|(\s*$)/g, "");
            var tags = $('ul.tag li a').map(function(){return $(this).html();}).toArray();
            if (tag_name === "" || $.inArray(tag_name, tags) !== -1) {
                $(".text-danger").remove();
                $(this).parent().prev().append("<span class='text-danger'>标签已存在或为空</span>")
            } else {
                $('#tag').modal('hide');
                $("ul.tag").append("<li><a class='a_click'>"+ tag_name +"</a></li>")
            }

        })

    </script>
{% block script %}
{% endblock script %}
</body>
</html>