<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="blog, 个人博客" />
    <meta name="Description" content="个人博客" />
    <meta name="author" content="driftluo" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="icon" type="image/webp" href="/images/head.webp" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/marked.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <link href="//cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/monokai_default.css">
    <link rel="stylesheet" href="/css/editor_base.css">
</head>

<body>
    <div class="col-md-8 col-md-offset-2">
        {% if id %}
        <h3>Title: </h3><input id="title" type="text" class="form-control" placeholder="标题" article-id={{ id }}>
        {% else %}
        <h3>Title: </h3><input id="title" type="text" class="form-control" placeholder="标题">
        {% endif %}
        <div>
            <ul class="tag">
                {% if tags %}
                {% for tag in tags %}
                <li><a data-id={{ tag.id }}>{{ tag.tag }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
            <button type="button" class="btn btn-sm btn-success pull-left">
                <span class="glyphicon glyphicon-upload"></span>
                Upload
            </button>
            <button id="tag_btn" class="btn btn-sm btn-info pull-right">
                <span class="glyphicon glyphicon-plus"></span>
                添加标签
            </button>
        </div>
        <br />
        <div style="margin-top: 20px;">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active" id="editor_note"><a onclick="editorPage()">Editor</a></li>
                <li role="presentation" id="preview_note"><a onclick="previewPage()">Preview</a></li>
            </ul>
        </div>
        <div id="editor_page" style="display: block">
            <textarea id="editor" class="form-control" rows="20"></textarea>
        </div>
        <div style="display: none" id="preview_page">

        </div>

        <div>
            <button id="quit" type="button" class="btn btn-danger" style="margin-top: 15px;">
                <span class="glyphicon glyphicon-trash"></span>
                放弃
            </button>

            <button id='submit' type="button" class="btn btn-success pull-right" style="margin-top: 15px;">
                <span class="glyphicon glyphicon-open"></span>
                提交
            </button>
        </div>
    </div>
    <div id="mistake" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">错误</h4>
                </div>
                <div class="modal-body">
                    <p>标题或内容为空</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="success" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">成功</h4>
                </div>
                <div class="modal-body">
                    <p>提交成功</p>
                </div>
                <div class="modal-footer">
                    <button id="success_btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="upload-success" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>提交成功</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger modal-upload" data-dismiss="modal">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="upload_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <br /><br />
                    <input type="file" id="file" multiple class="btn btn-default" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger modal-upload" data-dismiss="modal">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="tag" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">新标签</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="tag-name" class="control-label">名称:</label>
                            <input type="text" class="form-control" id="tag-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="add_tag" type="button" class="btn btn-primary">增加</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="container col-sm-12 col-md-12 col-xs-12">
        <hr>
        <div class="text-center">
            <a href="https://github.com/driftluo">
                <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1"
                    viewBox="0 0 16 16" width="32">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
        </div>
        <p class="text-center">Copyright © Luo Chao 2017-</p>
    </footer>

    <script src="/js/admin/editor_base.js"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>
