{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}
{% block css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js" ></script>
<style type="text/css">
    .my-navbar {
        opacity: 0.75
    }
    .container {margin-top:50px;}
    .form{background: rgba(255,255,255,0.2);}
    #login_form{display: block;}
    #register_form{display: none;}
    .fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
    input[type="text"],input[type="password"]{padding-left:26px;}
    .checkbox{padding-left:21px; padding-right:21px;}
    a:hover { text-decoration: none; cursor:pointer; }
</style>
{% endblock css %}

{% block header %}
{% endblock header %}

{% block body %}
<div class="container">
    <div class="form row">
        <form class="form-horizontal col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2" id="login_form">
            <h3 class="form-title">Login to your account</h3>
            <div>
                <div class="form-group">
                    <i class="fa fa-user fa-lg"></i>
                    <input class="form-control required" type="text" placeholder="Account" id="login_account" name="account" autofocus="autofocus" maxlength="20"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-lock fa-lg"></i>
                    <input class="form-control required" type="password" placeholder="Password" id="login_password" name="password" maxlength="20"/>
                </div>
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox" name="remember" /> Remember 90 day
                    </label>
                    <hr />
                    <a id="register_btn" class="">Create an account</a>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success pull-right" id="login" value="Login "/>
                </div>
            </div>
        </form>
    </div>

    <div class="form row">
        <form class="form-horizontal col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2" id="register_form">
            <h3 class="form-title">Create account</h3>
            <div>
                <div class="form-group">
                    <i class="fa fa-user fa-lg"></i>
                    <input class="form-control required" type="text" placeholder="Account" id="account" name="account" autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-lock fa-lg"></i>
                    <input class="form-control required" type="password" placeholder="Password" id="register_password" name="password"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-check fa-lg"></i>
                    <input class="form-control required" type="password" placeholder="Re-type Your Password" name="rpassword"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope fa-lg"></i>
                    <input class="form-control required" type="text" placeholder="Nickname" id="nickname" name="nickname"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope fa-lg"></i>
                    <input class="form-control email required" type="text" id="email" placeholder="Email" name="email"/>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success pull-right" id="sign_btn" value="Sign Up "/>
                    <input type="button" class="btn btn-info pull-left" id="back_btn" value="Back"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body%}

{% block script %}
<script src="/js/customize/login.js"></script>
{% endblock script%}

