{% extends "visitor/base.html" %}

{% block title %}
About
{% endblock title %}

{% block css %}

{% endblock css %}

{% block header %}
<div class="img">
    <img src="/images/img_7.webp" class="img-responsive img-rounded" alt="亚丁·五色湖"/><br>
    <p class="text-right">--- 摄于 2017 年 9 月 亚丁·五色湖</p>
</div>
{% endblock header %}

{% block body %}
<div class="container ">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>About</h2>
        <p>大家好，这里是 漂流(driftluo) 的个人博客。</p>
        <h3>个人介绍</h3>
        <ul>
            <li>2014年毕业于财经类院校会计系</li>
            <li>2016年正式接触编程，从 VBA 到 Python</li>
            <li>2017年4月左右开始学习 Rust，期间接触了 C/C++/Go 等编程语言</li>
        </ul>
        <h3>喜欢的编程语言</h3>
        <h4><strong>Python</strong></h4>
        <p>“Life is short, I use Python”。Python 带领我进入编程的世界，它语法简单，类库齐全，非常适合快速实现一些功能。尽管在速度上有一些欠缺，但是它依然是我喜欢并将长期持有的一门语言。</p>
        <h4><strong>Rust</strong></h4>
        <p>在计算机偏向底层世界里，一直是 C/C++ 的天下，而 C/C++ 历史太长，学习成本和包袱都很重，同时 C/C++ 对于第三方库的管理几乎可以说没有。现在 Rust
            出现了，一门新的系统级语言，没有历史包袱，满足我对一些系统级编程的需求，并且在编译时检查一些容易出错的内存，几乎在知道这门语言之后，我就立刻投入了对它的学习中。虽然 Rust
            才刚刚起步，但我已经喜欢上它了，并且将长期跟进 Rust 的最新动向。</p>
        <h4><strong>Go</strong></h4>
        <p>因为 Go，我认识了 Rust : )。不可否认的是 Go 是一个非常好的工程工具，对异步编程的原生支持极其强大，<code>go</code> 语法是最显著的标志之一。对于 Go，我并不像 Rust
            一样熟悉，但是后续会继续关注和学习，有预感，这门语言我会用上。</p>
        <h3>Contact</h3>
        <p>可以通过 Email 联系我：</p>
        <p>Email：luochaopiaoliu@gmail.com （每月浏览）</p>
        <p>Email：driftluo@foxmail.com （每日浏览）</p>
        <p>Github: github.com/driftluo</p>
    </div>
</div>
{% endblock body %}

{% block script %}
<script src="/js/index/navigationBar.js"></script>
{% endblock script%}
