{% extends "visitor/base.html" %}

{% block title %}
driftluo's blog
{% endblock title %}

{% block css %}
<script src="/js/arttemplate.js"></script>
{% include "template/article_index.html" %}
{% endblock css %}

{% block header %}
<div class="img">
    <img src="/images/img_5.webp" class="img-responsive img-rounded" alt="亚丁·牛奶海"/><br>
    <p class="text-right">--- 摄于 2017 年 9 月 亚丁·牛奶海</p>
</div>
{% endblock header %}

{% block body %}
<div class="container col-md-8">

</div>
<div class="container col-md-4">
    <ul>
        {% if tags %}
        {% for tag in tags %}
        <li data-id={{ tag.id }} class="list-unstyled">
            <button class="btn btn-primary tag" type="button">{{ tag.tag }}&nbsp;<span class="badge">{{ tag.count }}</span>
            </button>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>

{% endblock body %}

{% block script %}
<script src="/js/index/index_command.js"></script>
<script src="/js/index/index.js"></script>
<script src="/js/index/navigationBar.js"></script>
{% endblock script%}
