{% extends "visitor/base.html" %}

{% block title %}
Blog List
{% endblock title %}

{% block css %}
<script src="/js/arttemplate.js"></script>
{% include "template/article_list.html" %}
<style>
    .table thead.table-secondary th {
        background-color: #d3d4d5 !important;
    }
</style>
{% endblock css %}

{% block body %}
<div class="offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-1 col-10" style="margin-top: 50px">
    <br/>
    <br/>
    <hr/>
    <div class="container col-12">
        <table class="table table-striped">
            <thead class="table-secondary">
            <tr>
                <th>序号</th>
                <th>文章名</th>
                <th>创建时间</th>
                <th>最后修改时间</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center gap-3 my-3">
        <button class="btn btn-secondary" id="previous" disabled>
            <span aria-hidden="true">&larr;</span> Previous
        </button>
        <button class="btn btn-secondary" id="next">
            Next <span aria-hidden="true">&rarr;</span>
        </button>
    </div>
</div>
{% endblock body %}

{% block script %}
<script src="/js/index/list.js"></script>
<script src="/js/index/navigationBar.js"></script>
{% endblock script %}
