{% extends "visitor/base.html" %}

{% block title %}
Home
{% endblock title %}
{% block css %}
    <style>
        .side-navbar {
            background: rgba(217, 219, 252, 0.98);
            /*background-color: #777777;*/
            color: #fff;
            border: hidden;
        }
        .body-information {
            margin-top:100px;
        }
        a:hover { text-decoration: none; cursor:pointer; }
        #information {display: block;}
        #sign_out {display: none;}
    </style>
<script src="/js/arttemplate.js"></script>
{% include "template/userinfo.html" %}
{% endblock css %}

{% block header %}
{% endblock header %}

{% block body %}
<div class="container col-sm-2 col-md-2 body-information">
<nav class="navbar navbar-inverse side-navbar" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li>
            <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
            <a id="information_btn"><i class="fa fa-fw fa-home"></i> Information</a>
        </li>
        <li>
            <a id="sign_out_btn"><i class="fa fa-fw fa-home"></i> Sign out</a>
        </li>
    </ul>
</nav>
</div>
<div class="container col-sm-8 col-md-8 body-information">
    <div id="information">
        <h3>用户信息</h3>
        <hr/>
    </div>
    <div id="sign_out">
        <h3>确定退出？</h3>
        <hr />
        <button type="button" class="btn btn-warning">退出</button>
    </div>
</div>
{% endblock body%}

{% block script %}
<script>
    $("#information_btn").click(function () {
        $("#information").css("display", "block");
        $("#sign_out").css("display", "none");
    });
    $("#sign_out_btn").click(function () {
        $("#information").css("display", "none");
        $("#sign_out").css("display", "block");
    });

    $(document).ready(function () {
        getUserInfo();
        }
    );

    $("#sign_out :button").click(function () {
        $.ajax({
            url: "/api/v1/user/sign_out",
            type: "get",
            dataType: "json",
            data: JSON.stringify({}),
            headers: {"Content-Type": "application/json"},
            success: function (res) {
                if (res.status) {
                    window.location = "/index"
                }
            }
        })
    });

    function getUserInfo() {
        $.getJSON("/api/v1/user/view", function (result) {
            result.data.create_time = moment.utc(result.data.create_time).local().format();
            var html = template("tpl-user", result);
            $("#information").append(html)
        })
    }
</script>
<script src="/js/customize/navigationBar.js"></script>
{% endblock script%}
