pre {
    padding: 0px;
}
.comment li p a {
    color: #ff7519;
    margin-right: 10px;
    text-decoration: none;
}
.comment li p.head {
    line-height: 20px;
    font-size: 14px;
    color: #8c8c8c;
}
.comment li {
    margin-top: 30px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.comment_ground {
    background: floralwhite;
}
.float_alert {
    position:fixed;
    top:100px;
    right:20px;
    z-index:100;
    display: none;
}
div.reply {
    margin-left: 20px;
}
body blockquote {
    font-size: 14px;
}