pre {
    padding: 0px;
}

.comment li p a {
    color: #ff7519;
    margin-right: 10px;
    text-decoration: none;
}

.comment li p.head {
    line-height: 20px;
    font-size: 14px;
    color: #8c8c8c;
}

.comment li {
    margin-top: 30px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.comment_ground {
    background: floralwhite;
}

.float_alert {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 100;
    display: none;
}

div.reply {
    margin-left: 20px;
}

body blockquote {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1.2em 0 .6em 0;
}

table, pre, dl, blockquote, q, ul, ol {
    margin: 1.2em 0;
}

table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

table tr th, table tr td {
    font-size: 1em;
    border: 1px solid #CCC;
    margin: 0;
    padding: 0.5em 1em;
}

table tr th {
    font-weight: bold;
    background-color: #F0F0F0;
}
