a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul.tag {
    overflow: hidden;
}

ul.tag li {
    float: left;
    margin: 20px 15px 10px 0px;
    line-height: 20px;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

ul.tag li a {
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.a_click {
    background-color: #e78170;
    color: #fff;
    border: 1px solid #e78170;
}

pre {
    padding: 0px;
}

/* Preview table styles */
#preview_page table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 1.2em 0;
    width: 100%;
}

#preview_page table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

#preview_page table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

#preview_page table tr th,
#preview_page table tr td {
    font-size: 1em;
    border: 1px solid #CCC;
    margin: 0;
    padding: 0.5em 1em;
}

#preview_page table tr th {
    font-weight: bold;
    background-color: #F0F0F0;
}
