.my-navbar {
    opacity: 0.25
}

.my-navbar .iconfont {
    vertical-align: middle;
    font-size: 18px;
    position: relative;
    top: 1px;
}

/* Fine-tune About navigation iconfont alignment */
.my-navbar a[href="/about"] .iconfont {
    font-size: 20px;
    top: -2px;
    vertical-align: middle;
}

/* Fine-tune Admin navigation iconfont alignment */
.my-navbar a[href="/admin"] .iconfont {
    top: -2px;
    vertical-align: middle;
}

.my-navbar .bi {
    vertical-align: baseline;
}

.my-navbar a {
    background: transparent !important;
    color: #fff !important
}

.my-navbar a:hover {
    color: #ec0629 !important;
    background: transparent;
    outline: 0
}

.my-navbar a {
    transition: color 0.5s ease-in-out;
}

/*-webkit-transition ;-moz-transition*/
.top-nav {
    background: #070606;
    opacity: 0.75
}

.post-meta {
    color: #777;
    font-size: 15px;
    font-style: italic;
    margin-top: 0;
}

div.col-md-8 a, div.list a {
    text-decoration: none;
    color: black;
}

div.col-md-8 a:hover, div.list a:hover {
    color: #337ab7;
    transition: color 0.25s ease-in-out;
}

button {
    margin-top: 10px;
    margin-left: 20px;
}

/* 自定义表格样式 */
.table {
    --bs-table-bg: transparent;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.02);
}

.table thead th {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: rgba(0, 0, 0, 0.02);
}

/* Header image container */
.img {
    width: 100%;
    margin-bottom: 20px;
}

.img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.img p {
    margin-top: 5px;
    color: #777;
    font-style: italic;
}
