.my-navbar {
    opacity: 0.25
}

.my-navbar a {
    background: transparent !important;
    color: #fff !important
}

.my-navbar a:hover {
    color: #ec0629 !important;
    background: transparent;
    outline: 0
}

.my-navbar a {
    transition: color 0.5s ease-in-out;
}

/*-webkit-transition ;-moz-transition*/
.top-nav {
    background: #070606;
    opacity: 0.75
}

.post-meta {
    color: #777;
    font-size: 15px;
    font-style: italic;
    margin-top: 0;
}

div.col-md-8 a, div.list a {
    text-decoration: none;
    color: black;
}

div.col-md-8 a:hover, div.list a:hover {
    color: #337ab7;
    transition: color 0.25s ease-in-out;
}

button {
    margin-top: 10px;
    margin-left: 20px;
}

li[data-id] {
    float: left;
}
