.body-form {
    margin-top: 100px;
}

.form {
    background: rgba(255, 255, 255, 0.2);
}

#login_form {
    display: block;
}

#register_form {
    display: none;
}

.fa {
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}

input[type="text"], input[type="password"] {
    padding-left: 26px;
}

.checkbox {
    padding-left: 21px;
    padding-right: 21px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}