.side-navbar {
    border: hidden;
    border-radius: 0.375rem;
}

.side-navbar .list-group-item {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.side-navbar .list-group-item:hover {
    background-color: #495057 !important;
}

.side-navbar .list-group-item i {
    margin-right: 8px;
}

.body-information {
    margin-top: 100px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#information {
    display: block;
}

#sign_out {
    display: none;
}

#modify {
    display: none;
}

#change_password {
    display: none;
}
