<script id="tpl-tag-list" type="text/html">
    {% raw %}
    {{each data}}
    <tr>
        <td>{{ $index }}</td>
        <td><p>{{ $value.tag }}</p></td>
        <td>{{ $value.count }}</td>
        <td>
            <button type="button" class="btn btn-info btn-sm modify" data-id='{{ $value.id }}'>
                <span class="glyphicon glyphicon-info-sign"></span>
                Modify
            </button>
            <button type="button" class="btn btn-danger btn-sm delete" data-id='{{ $value.id }}'>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
        </td>
    </tr>
    {{/each}}
    {% endraw %}
</script>